<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Student Form</title>
  </head>
  <body>
<a class=" btn-info btn btn-info" href="/" role="button">Home Page</a>
<br>
<center><h2 class="text-info"><b>Student Form</b></h2></center>
<br>
<div class="container">

<form action="/studentinsert" method="POST">

  <div class="form-group">
    <label for="exampleInputEmail1">Student Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" required placeholder="student Name">   
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Father Name</label>
    <input type="text" name="fname" class="form-control" id="exampleInputEmail1" required placeholder="Father Name">   
  </div>


  <div class="form-group">
    <label for="exampleInputEmail1">Mother Name</label>
    <input type="text" name="mname" class="form-control" id="exampleInputEmail1" required placeholder="Mother Name">   
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-danger">Reset</button>


</form>


</div>






<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  
  <tbody> 
    <% var i = 1 ; %>
	<% x.forEach(function(rs) { %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= rs.name %></td>
      <td><%= rs.fname %></td>
      <td><%= rs.mname %></td>      
    </tr>
	 <% i++; %>
	<% }); %>
  </tbody>
</table>


 


     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>